@charset "utf-8";
@import "https://unpkg.com/ress/dist/ress.min.css";

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  line-height: 1;
  color: #212121;
  background: #efefef;
}

/*==================================
*/
/*		全体
*/
/*================================*/
main {
  width: 1000px;
  padding: 80px;
  margin: 100px auto;
  background: #fff;
}

/*-------------------------
/*	section内
-------------------------*/
section h2 {
  width: 100%;
}

section p {
  padding: 0 1em;
  line-height: 1.8;
}

section ul {
  padding: 0 2em;
}

section li {
  line-height: 1.8;
}

section img {
  display: block;
  margin: 8px 0;
  max-width: 100%;
}

section + section {
  margin-top: 40px;
}

/*-------------------------
/*	左右分割
-------------------------*/
.left-area,
.right-area {
  width: 50%;
}

/*-------------------------
/*	見出し
-------------------------*/
h1 {
  text-align: center;
  margin-bottom: 2em;
}

h2 {
  line-height: 2;
  text-align: center;
  border-top: 2px solid #212121;
  border-bottom: 2px solid #212121;
  margin-bottom: 1em;
}

h3 {
  line-height: 1.5;
  padding-left: 0.5em;
  border-left: 8px solid #212121;
  margin-bottom: 0.5em;
}

h3:nth-of-type(n + 2) {
  margin-top: 1.5em;
}

/*==================================
*/
/*		section#profile
*/
/*================================*/
#profile {
  display: flex;
  flex-wrap: wrap;
}

#profile img {
  margin: auto;
}

#profile .my-name {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  margin: 0.5em 0 1em;
}

/*==================================
*/
/*		section#favorite
*/
/*================================*/
#favorite {
  display: flex;
  flex-wrap: wrap;
}

#favorite img {
  /* 任意のサイズに調整 */
  width: 200px;
}

#favorite .youtube {
  aspect-ratio: 16/9;
}

/*==================================
*/
/*		section#link
*/
/*================================*/
#link {
  text-align: center;
}
#link a {
  font-size: 3em;
  color: inherit;
}
#link a:nth-of-type(n + 2) {
  margin-left: 0.5em;
}
#link a i {
  transition: 0.5s;
}
#link .fa-twitter:hover {
  color: #01AAEC;
}
#link .fa-facebook-square:hover {
  color: #23589F;
}
#link .fa-instagram-square:hover {
  color: #DD2A7B;
}
#link .fa-youtube:hover {
  color: #F40000;
}
#link .fa-tiktok:hover {
  color: #64C0C7;
}